.navbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: #303000;
    padding: 6px;
}

.navbar-title {
    font-size: 24px;
    margin: 4px 2px;
    padding: 14px 20px;
    color: red;

}
