body {
    background: url("../res/chicken_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    margin-top: 63px;
    margin-left: 75px;
    padding: 20px;
}

.content-tab {
    background-color: rgba(248, 249, 250, .7);
    border-radius: 12px;
    padding: 12px;
    margin: 12px 0;
}

p, a, div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}